<% include partials/header %>


<h1> Thi is the Homepage: <%= thingVar.toUpperCase() %> </h1>
<%    if(thingVar === "rusty"){ %>
        <p>Good choice! RUSTY IS THE BEST!</p>
  <%  } else { %>
        <p>No you are a loser</p>
        
        <%  } %>
<img src="https://www.planwallpaper.com/static/images/magic-of-blue-universe-images.jpg">

<% include partials/footer %>